# List, functions, loops, list comprehension

* List creation
* List modification
* List sort
* Copying list
* Looping over lists
* Functions
* List comprehension

### List creation

In [6]:
l1 = list([0, 1, 2, 3])
l1 = [0, 1, 2, 3]
print(l1)
type(l1)

[0, 1, 2, 3]

list

In [150]:
l1 = []
print(l1)
print(type(l1))

[]
<class 'list'>

In [66]:
l2 = list([0, 1, 2, 3, 4, 5])
l2

[0, 1, 2, 3, 4, 5]

### list modification

* append and pop
* extend
* insert and remove

In [8]:
l1 = [0, 1, 2, 3, 4, 5]
print(l1)
l1.append(6)
l1

[0, 1, 2, 3, 4, 5]

[0, 1, 2, 3, 4, 5, 6]

In [9]:
print(l1)
l1.pop()
l1

[0, 1, 2, 3, 4, 5, 6]

[0, 1, 2, 3, 4, 5]

In [14]:
l1 = [0, 1, 2, 3, 4, 5]
print(l1)
# l1.extend([6, 7, 8])
l2 = [6, 7, 8]
# l1.extend(l2)
l1 = l1 + l2
l1

[0, 1, 2, 3, 4, 5]

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [15]:
l1 = [0, 1, 2, 3, 4, 5]
print(l1)
l1.insert(0, -1)
l1

[0, 1, 2, 3, 4, 5]

[-1, 0, 1, 2, 3, 4, 5]

In [17]:
l1 = [-1, 0, 1, 2, 3, 4, 5]
print(l1)
l1.remove(-1)
l1

[-1, 0, 1, 2, 3, 4, 5]

[0, 1, 2, 3, 4, 5]

In [19]:
l1 = [-1, 0, 1, 2, 3, 4, 5]
print(l1)
l1 = l1*2
print(l1)
l1.remove(-1)
l1

[-1, 0, 1, 2, 3, 4, 5]
[-1, 0, 1, 2, 3, 4, 5, -1, 0, 1, 2, 3, 4, 5]

[0, 1, 2, 3, 4, 5, -1, 0, 1, 2, 3, 4, 5]

In [21]:
l1 = [-1, 0, 1, 2, 3, 4, 5]
print(min(l1))
print(max(l1))

-1
5

In [22]:
l1 = [-1, 0, 1, 2, 3, 4, 5]
l1.count(5)

1

### Additional List operations
* sort
* clear and deletion

In [24]:
l1 = [2, 0, 1, 4, 3, 5]
l1.sort()
print("ascending: ", l1)
l1.sort(reverse=True)
print("descending: ", l1)

ascending:  [0, 1, 2, 3, 4, 5]
descending:  [5, 4, 3, 2, 1, 0]

In [25]:
l_str = ['a', 'bc', 'b']
print(l_str)
l_str.sort()
l_str

['a', 'bc', 'b']

['a', 'b', 'bc']

#### Cannot sort numerics and string together as shown below

In [26]:
l4 = l_str + [1, 2, 3]
print(l4)
# Sorting of mixed list with numeric and string will lead to error
# l4.sort()
l4

['a', 'b', 'bc', 1, 2, 3]

TypeError: '<' not supported between instances of 'int' and 'str'

### Copying lists and list of lists (Shallow copy vs. deep copy)

#### Reference copy

In [1]:
l4 = [0, 1, 2, 3, 4, 5, 6]
l4_copy = l4 # reference copy
l4_copy.append(7)
print("l4: ", l4)
print("l4_copy: ", l4_copy)

l4:  [0, 1, 2, 3, 4, 5, 6, 7]
l4_copy:  [0, 1, 2, 3, 4, 5, 6, 7]

#### Shallow copy

In [3]:
l4 = [0, 1, 2, 3, 4, 5, 6]
l4_shallow_copy = l4.copy() # shallow copy
l4_shallow_copy.append(7)
print("l4: ", l4)
print("l4_shallow_copy: ", l4_shallow_copy)

l4:  [0, 1, 2, 3, 4, 5, 6]
l4_shallow_copy:  [0, 1, 2, 3, 4, 5, 6, 7]

#### Deep copy

In [6]:
import copy
l4 = [0, 1, 2, 3, 4, 5, 6, ['a', 'b']]
print("l4 before: ", l4)
# l4_copy = l4 # reference copy
l4_shallow_copy = l4.copy() # shallow copy
l4_deep_copy = copy.deepcopy(l4) # deep copy
l4_deep_copy[7].append('c')
print("l4: ", l4)
print("l4_shallow_copy: ", l4_shallow_copy)
print("l4_deep_copy: ", l4_deep_copy)

l4 before:  [0, 1, 2, 3, 4, 5, 6, ['a', 'b']]
l4:  [0, 1, 2, 3, 4, 5, 6, ['a', 'b']]
l4_shallow_copy:  [0, 1, 2, 3, 4, 5, 6, ['a', 'b']]
l4_deep_copy:  [0, 1, 2, 3, 4, 5, 6, ['a', 'b', 'c']]

From above examples, we see that shallow copy doesn't work as true duplicate copy for list of lists, whereas deep copy makes a true duplicate.

### Clearing and deleting lists

In [11]:
l1 = [0, 1, 2]

In [12]:
l1.clear()
l1

[]

In [13]:
del l1
# l1

NameError: name 'l1' is not defined

Once deleted, upon calling the variable, not defined error is obtained.

### Multiplying lists

In [16]:
l2 = [0, 1, 2, 3, 4, 5]
l2*2

[0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5]

## Create a list of squares of l2 = [0, 1, 2, 3, 4, 5]

In [17]:
# for i in range(0, 6, 1):
#     print(i)
for i in range(6):
    print(i)

0
1
2
3
4
5

### accessing elements of list by index (C style)

In [18]:
# accessing elements of list by index
l2 = [0, 1, 2, 3, 4, 5]
l_squared = []
for i in range(len(l2)):
    l_squared.append(l2[i]**2)
l_squared

[0, 1, 4, 9, 16, 25]

### accessing elements of list by value

In [19]:
# accessing elements of list by value
l2 = [0, 1, 2, 3, 4, 5]
l_squared = []
for value in l2:
    l_squared.append(value**2)
l_squared

[0, 1, 4, 9, 16, 25]

## Create squares of list containing both integer and strings such that:
* Square the integers only
* Strings should be copied as it is

In [22]:
l2 = ['a', 0, 1, 'b', 2, 3, 4, 'c']
l2

['a', 0, 1, 'b', 2, 3, 4, 'c']

### Using loops and accessing each element

In [23]:
l2 = ['a', 0, 1, 'b', 2, 3, 4, 'c']
l_squared = []
for value in l2:
    if type(value) is not str:
        l_squared.append(value**2)
    else:
        l_squared.append(value)
l_squared

['a', 0, 1, 'b', 4, 9, 16, 'c']

#### Defining function and calling function inside loop

In [52]:
def calculate_value(value):
    if type(value) is not str:
        return value**2
    else:
        return value

In [53]:
l2 = ['a', 0, 1, 'b', 2, 3, 4, 'c']
l_squared = []
for value in l2:
    l_squared.append(calculate_value(value))
l_squared

['a', 0, 1, 'b', 4, 9, 16, 'c']

### Using mapping function, no need to use loop

In [55]:
l2 = ['a', 0, 1, 'b', 2, 3, 4, 'c']
l_squared = list(map(calculate_value, l2))
l_squared

['a', 0, 1, 'b', 4, 9, 16, 'c']

### Using List comprehension

In [56]:
l2 = [0, 1, 2, 3, 4]
l_squared = [value**2 for value in l2]
l_squared

[0, 1, 4, 9, 16]

### How to use List comprehension
only if condition:

    [f(x) for x in sequence if condition]

if and else condition:

    [f(x) if condition else g(x) for x in sequence]

In [25]:
# only if condition
l2 = ['a', 0, 1, 'b', 2, 3, 4, 'c']
l_squared = [value**2 for value in l2 if type(value) is not str]
l_squared

[0, 1, 4, 9, 16]

In [26]:
# if and else condition
l2 = ['a', 0, 1, 'b', 2, 3, 4, 'c']
l_squared = [value**2 if type(value) is not str else value for value in l2]
l_squared

['a', 0, 1, 'b', 4, 9, 16, 'c']

## Review
* Look into documentation of list, range, map functions